extends ../incontainer 

block content
    if (errors || failed)
        .alert.alert-danger
            span Whoops! We've found some error.
            ul
                if failed
                    li The current password is not correct
                each error in errors
                    li=error.msg

    form(method='POST')
        .row
            .col-2
                a.list-group-item.list-group-item-action(href="profile") โปรไฟล์ 
                a.list-group-item.list-group-item-action(href="account") บัญชี
                a.list-group-item.list-group-item-action.active(href="password") รหัสผ่าน
            .col-10
                h1 รหัสผ่าน
                .form-group
                    label รหัสผ่านปัจจุบัน
                    input.form-control(name='old_password',type='password')
                .form-group
                    label รหัสผ่านใหม่
                    input.form-control(name='password',type='password')
                .form-group
                    label ยืนยันรหัสผ่าน
                    input.form-control(name='confirm',type='password')
                button.btn.btn-outline-primary(type='submit') Save Changes