extends ../incontainer 

block content
  .row
    .col-10
      h1 #{user.name}
  hr
  .row
    .col-3
      img.rounded.mb-3(src=user.gravatar_url(400), width="100%")
      a(href='/settings/profile').btn.btn-outline-dark Edit
    .col-9
      ul.nav.nav-tabs.mb-2
        li.nav-item
          a.nav-link(href=".") เกี่ยวกับ 
        li.nav-item
          a.nav-link.active ผลงาน 
        li.nav-item
          a.nav-link(href="reviews") รีวิว
      h2 งานที่ผ่านมา
      .card.mb-3
        .card-body
          h5 Job #1
          p Lorem Ipsum...
      .card.mb-3
        .card-body
          h5 Job #1
          p Lorem Ipsum...