extends incontainer 

block content
  h1 Addannouncement
  form(method='POST', action='/addjob')
    .form-group
      label Topic:
      input.form-control(name='job', type='text')
    .form-group
      label Detail:
      textarea.form-control(name='job_info')

      br
    button.btn.btn-primary.btn-block(type='submit') Submit 