extends incontainer 

block content
  h1 Add Announcement
  form(method='POST', action='/addjob')
    .form-group
      label Topic:
      input.form-control(name='job', type='text')
    .form-group
      label Detail:
      <textarea class="form-control" rows="5" name="job_info"></textarea>

      br
    button.btn.btn-primary.btn-block(type='submit') Submit 