extends incontainer 

block content

    if (errors || failed)
        .alert.alert-danger
            span Whoops! We've found some error.
            ul
                if failed
                    li The current password is not correct
                each error in errors
                    li=error.msg

    form(method='POST')
        #outerBox.card
            .card-body
                h1 Account
                #innerBox.card
                    .row
                        .col-3
                            #innerBox.card
                                .card-body
                                    h1 image here
                        .col-9
                            .card-body
                                h5 Name:
                                input.form-control(name='name',type='text', value=user.name)
                                h5 Email:
                                input.form-control(name='email',type='text', value=user.email)
                                h5 Overview:
                                if user.overview
                                    <textarea class="form-control" rows="5" name="overview">#{user.overview}</textarea>
                                else
                                    <textarea class="form-control" rows="5" name="overview" placeholder="Say something about yourself!"></textarea>
        
        button.btn.btn-outline-primary(type='submit') Save Changes
//
        #outerBox.card
            .card-body
                h1 Password
                #innerBox-card
                    .card-body
                        h5 Current password:
                        input.form-control(name='old_password',type='password')
                        h5 New password:
                        input.form-control(name='password',type='password')
                        h5 Confirm:
                        input.form-control(name='confirm',type='password')

        button.btn.btn-outline-primary(type='submit') Save Changes