extends layout

block content
  
  //- h1= freelance.headline
  //- h5= freelance.name
  //- 
  //- hr
  //- 
  //- p= freelance.overview
  
  h1 Freelance headline
  h5 Name: Kirikaya Kazuto
  
  hr
  h2 Overview
  p Years of experience: xx years
  p Specialty: xxx
  p brabrabaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
