doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/favicon.ico?=v2')
    link(rel='icon', href='/favicon.ico?=v2')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script(src='/scripts/jquery.min.js')

    
    block additional-heads

  body
    nav(class="navbar navbar-top navbar-expand-lg navbar-dark bg-dark")
      a.navbar-brand(href='/')
        img(src='/images/jainsbret_logo_green.svg', width='30', height='30', alt='')
        |  JetFree
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        //- div(class="collapse navbar-collapse" id="navbarNav")
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/jobs/add') จ้างฟรีแลนซ์
          li.nav-item
            a.nav-link(href='/jobs/browse') หางาน
          li.nav-item
            a.nav-link(href='#') โปรเจคของฉัน
          li.nav-item
            a.nav-link(href='#') ช่วยเหลือ
        ul.navbar-nav.navbar-right
          if user
            li.nav-item
              a.nav-link(href='/profile') ข้อมูลส่วนตัว
            li.nav-item
              a.nav-link(href='/logout') ลงชื่อออก
          else
            li.nav-item
              a.nav-link(href='/register') ลงทะเบียน
            li.nav-item
              a.nav-link(href='/login') ลงชื่อเข้าใช้
    
    block body

    footer.container.py-5
      .row
        .col-12.col-md
          //logo start
          img(src='/images/jainsbret_logo_green.svg', width='30', height='30', alt='')
          small.d-block.mb-3.text-muted JainsBret © 2017-2018
        //logo end
        .col-6.col-md
          h5 สำหรับผู้ว่าจ้าง
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') จ้างฟรีแลนซ์
            li
              a.text-muted(href='#') ดูงานที่จ้างทั้งหมด
        .col-6.col-md
          h5 สำหรับฟรีแลนซ์
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') ดูงานทั้งหมด
        .col-6.col-md
          h5 เกี่ยวกับเรา 
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') ทีมงาน 
            li
              a.text-muted(href='#') ข้อกำหนดการใช้งาน 
            li
              a.text-muted(href='#') เงื่อนไขความเป็นส่วนตัว
            li
              a.text-muted(href='#') การสนับสนุน
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/scripts/popper.min.js')
    script(src='/scripts/bootstrap.min.js')
    block js-after
