doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/favicon.ico?=v2')
    link(rel='icon', href='/favicon.ico?=v2')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    block additional-heads

  body
    nav(class="navbar navbar-top navbar-expand-lg navbar-dark bg-dark")
      a.navbar-brand(href='/')
        img(src='/images/jainsbret_logo_green.svg', width='30', height='30', alt='')
        |  JetFree
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        //- div(class="collapse navbar-collapse" id="navbarNav")
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='#') จ้างฟรีแลนซ์
          li.nav-item
            a.nav-link(href='/search') หางาน
          li.nav-item
            a.nav-link(href='#') โปรเจคของฉัน
          li.nav-item
            a.nav-link(href='#') ช่วยเหลือ
        ul.navbar-nav.navbar-right
          if user
            li.nav-item
              a.nav-link(href='/profile') ข้อมูลส่วนตัว
            li.nav-item
              a.nav-link(href='/logout') ลงชื่อออก
          else
            li.nav-item
              a.nav-link(href='/register') ลงทะเบียน
            li.nav-item
              a.nav-link(href='/login') ลงชื่อเข้าใช้
    
    block body

    footer.container.py-5
      .row
        .col-12.col-md
          //logo start
          img(src='/images/jainsbret_logo_green.svg', width='30', height='30', alt='')
          small.d-block.mb-3.text-muted JainsBret © 2017-2018
        //logo end
        .col-6.col-md
          h5 Features
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') Cool stuff
            li
              a.text-muted(href='#') Random feature
            li
              a.text-muted(href='#') Team feature
            li
              a.text-muted(href='#') Stuff for developers
            li
              a.text-muted(href='#') Another one
            li
              a.text-muted(href='#') Last time
        .col-6.col-md
          h5 Resources
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') Resource
            li
              a.text-muted(href='#') Resource name
            li
              a.text-muted(href='#') Another resource
            li
              a.text-muted(href='#') Final resource
        .col-6.col-md
          h5 Resources
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') Business
            li
              a.text-muted(href='#') Education
            li
              a.text-muted(href='#') Government
            li
              a.text-muted(href='#') Gaming
        .col-6.col-md
          h5 About
          ul.list-unstyled.text-small
            li
              a.text-muted(href='#') Team
            li
              a.text-muted(href='#') Locations
            li
              a.text-muted(href='#') Privacy
            li
              a.text-muted(href='#') Terms
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='/scripts/jquery.min.js')
    script(src='/scripts/popper.min.js')
    script(src='/scripts/bootstrap.min.js')
    block js-after
