extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    .form-group
    label Username:
    input.form-control(name='username',type='text')
    .form-group
    label Password:
    input.form-control(name='password',type='password')
    br
  input.btn.btn-outline-primary.btn-block(type='submit',value='Submit')
  br
  span
    input.btn.btn-link(type='submit',value='Create a new account')
    input.btn.btn-link.float-right(type='submit',value='Forgot your password?')
  