extends layout

block content
  h1 #{user.name}
  hr
  .row
    .col-3
      #outerBox.card
        .card-body
          h1 image here
      #outerBox.card
        .card-body
          h2 Client Review
        #innerBox.card
          .card-body
            h5 #{user.client_review}
    .col-9
      #outerBox.card
        .card-body
          h2 Overview
        #innerBox.card
          .card-body
            h5 #{user.overview}
      #outerBox.card
        .card-body
          h2 Past Job
        #innerBox.card
          .card-body
            h5 #{user.past_job}
