extends layout

block content
  .row
    .col-10
      h1 #{user.name}
    .col-2
      a(href='/users/'+user.username+'/edit').btn.btn-outline-dark Edit
  hr
  .row
    .col-3
      #outerBox.card
        h1 image here
      #outerBox.card
        h2 Client Review
        #innerBox.card
          h5 #{user.client_review}
    .col-9
      #outerBox.card
        h2 Overview
        #innerBox.card
          h5 #{user.overview}
      #outerBox.card
        h2 Past Job
        #innerBox.card
          h5 #{user.past_job}
