extends incontainer 

block content
  .search-page.row.long
    .search-filter
      .box
        ul
          form(method='POST')
            strong Project Type
            .form-check
              label.form-check-label(name='project_types')
                input.form-check-input(name='fixed_projects', type='checkbox')
                | Fixed projects
            .form-check
              label.form-check-label(name='project_types')
                input.form-check-input(name='hourly_projects', type='checkbox')
                | Hourly projects
        
      //- .row
      //-   lable project type
      //-   .container
      //-     .form-check
      //-       label.form-check-label(name='accept')
      //-         input.form-check-input(name='agreement',type='checkbox')
      //-         | Fixed Project
      //-     .form-check
      //-       label.form-check-label(name='accept')
      //-         input.form-check-input(name='agreement',type='checkbox')
      //-         | Hourly Project
      //- .row
      //-   lable Skills
      //-   input.form-check-input(name='agreement',type='checkbox')
      //-   .container
      //-     button.btn.btn-primary(type='button') Clear Skills
      //-   .container
      //-     button.btn.btn-link(type='button') Edit Profile Skills
      //- .row
      //-   lable Fixed Price
      //-   input#fixedPriceRange.slider(type='range', min='1', max='100000', value='50000',step='1')
      //-   lable Hourly Price
      //-   input#hourlyPriceRange.slider(type='range', min='1', max='100000', value='50000',step='1')
      //- .row
      //-   lable Specific Location
      //-   input.form-control(name='location',type='text')
      //- .row
      //-   lable Language
      //-   input.form-control(name='Language',type='text')
      //-   button.btn.btn-primary(type='button') Clear Language
      //- button.btn.btn-link(type='button') Reset Filter
    .search-result
      .box
        .search-result-header
          .search-result-header-input
            input.form-control(name='Search',type='text',placeholder='Search Jobs')
          .search-result-amount
            .result-amount 1234 Result
          .search-result-input-sort
            .sort sort by date/popular
        ul.list-group
          li.list-group-item
            a(href='#')= "articles"
        //- each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)= article.title