extends incontainer 

block content
  .search-page.row
    .search-filter
      .box
        li.filter-item
          ul.filter-item-expansion
            li.filter-item-group
              label#head Project Type
              .form-check
                label.form-check-label(name='project_types')
                  input.form-check-input(name='fixed_projects', type='checkbox')
                  | Fixed projects
              .form-check
                label.form-check-label(name='project_types')
                  input.form-check-input(name='hourly_projects', type='checkbox')
                  | Hourly projects
            li.filter-item-group
              label#head Skills
              .filter-item-scroll
                .filter-tag-input
                  each val in skills
                    .input-tag=val
                      .delete-tag ×
                  input(type="text", placeholder='Select Skill')
              .filter-item-button-group
                button.btn.btn-primary.btn-small.filter-item-button(type='button')
                  | Clear Skills
                button.btn.btn-link.btn-small.filter-item-button(type='button', data-toggle='modal', data-target='#edit_skills') Edit Profile Skill
            li.filter-item-group
              label#head Fixed Price
              .filter-slider(floor='0', ceiling='10000', prefix='$', dragstop='true')
                .slider-range
                  .slider-bar.selection(style='left: 8.5px; width: 160px;')
                .slider-handle.low(style='left: 0px;')
                .slider-handle.high(style='left: 168.5px;')
                .filter-ui-slider-value
                  span.filter-ui-slider-value-min(style='left: -0.5px;')
                    | 0฿
                  |  - 
                  span.filter-ui-slider-value-max(style='left: 141.5px;')
                    | 1000000฿
            li.filter-item-group
              label#head Hourly Price
              .filter-slider(floor='1', ceiling='10000', prefix='$', dragstop='true')
                .slider-range
                  .slider-bar.selection(style='left: 8.5px; width: 160px;')
                .slider-handle.low(style='left: 0px;')
                .slider-handle.high(style='left: 168.5px;')
                .filter-ui-slider-value
                  span.filter-ui-slider-value-min(style='left: -0.5px;')
                    | 0฿
                  |  - 
                  span.filter-ui-slider-value-max(style='left: 141.5px;')
                    | 1000฿
            li.filter-item-group
              label#head Language
              .filter-item-scroll
                .filter-tag-input
                  each val in lang
                    .input-tag=val
                      .delete-tag ×
                  input(type="text", placeholder='Select Language')
              .filter-item-button-group
                button.btn.btn-primary.btn-small.filter-item-button(type='button')
                  | Clear Languages
            button.btn.btn-link.btn-small.filter-item-button(type='button') Reset Filter

    .search-result
      .box
        .search-result-header
          .search-result-header-input
            input.form-control(name='Search',type='text',placeholder='Search Jobs')
          .search-result-amount
            .result-amount 1234 Result
          .search-result-input-sort
            .sort sort by date/popular
        ul.list-group
          li.list-group-item
            a(href='#')= "articles"

  #edit_skills.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Modal Header
          button.close(type='button', data-dismiss='modal') ×
        .modal-body
          p Some text in the modal.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

        //- each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)= article.title