extends layout

block content
  h1 Register
  form(method='POST', action='/users/register')
    .form-group
      label Name:
      input.form-control(name='name', type='text')
    .form-group
      label Email:
      input.form-control(name='email', type='text')
    .form-group
      label Username:
      input.form-control(name='username', type='text')
    .form-group
      label Password:
      input.form-control(name='password', type='password')
    .form-group
      label Confirm:
      input.form-control(name='confirm', type='password')
    .form-check
      label.form-check-label(name='accept')
        input.form-check-input(name='agreement',type='checkbox')
        | Check here to indicate that you have read and agree to the terms of the 
        a(href="#") JetMae Customer Agreement
      br
    button.btn.btn-primary.btn-block(type='submit') Create Account and Continue
