extends layout

block content
  h1 Login
  form(method='POST', action='/users/resetPassword')
    .form-group
      label Username:
      input.form-control(name='username',type='text')
    .form-group
      label what is the big O of bubble sort:
      input.form-control()

  button.btn.btn-outline-primary.btn-block(type='button') Submit
  br
  span
    a.btn.btn-link(href='/users/register', role='button') Create a new account
    a.btn.btn-link.float-right(href='/users/resetPassword', role='button') Forgot your password?
    
  