extends incontainer 

block content
  h1 Forgot password
  form(method='POST', action='/users/resetPassword')
    .form-group
      label Username:
      input.form-control(name='username',type='text')
    .form-group
      label what is the big O of bubble sort (anti bot question):
      input.form-control(name='answer',type='text')
    br
    button.btn.btn-primary.btn-block(type='submit') Submit
    
  