.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  padding-top: 20px;
}

.jumbotron {
  border-radius: 0px;
}

.couter-fullpage {
  /**/
}

.counter-fullpage .counter-freelance-categories ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.counter-fullpage .counter-freelance-categories li {
  list-style-type: none;
}

.center-wrapper {
  text-align: center;
}

.counter-wrapper h1 {
  font-size: 52px;
}

#frontpage-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/freelancers.jpg');
  color: #fff;
}