@import url('https://fonts.googleapis.com/css?family=Mitr:300');
h1, h2, h3, h4, h5, h6, .headline-font {
  font-family: "Mitr";
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.center-text {
  text-align: center;
}

main {
  padding-top: 20px;
}

.jumbotron {
  border-radius: 0px;
}

.counter-fullpage {
  padding-top: 40px;
  padding-bottom: 40px;
}

.counter-fullpage .counter-freelance-categories ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.counter-fullpage .counter-freelance-categories li {
  list-style-type: none;
}

.center-wrapper {
  text-align: center;
}

.counter-wrapper h1 {
  font-size: 52px;
}

#frontpage-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/freelancers.jpg');
  color: #fff;
}

#frontpage-header .form-inline {
  text-align: center;
}

.container.contents {
  padding: 1em
}

#innerBox {
  margin: 10px;
}

#outerBox {
  margin-bottom: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.tags-input {
  border: 1px solid #333;
  display: inline-block;
}

.tags-input .tag {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
}

.tags-input .tag:hover {
  background-color: #3af;
  color: white;
}

.tags-input .tag .close::after {
  content: '×';
  font-weight: bold;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
  color: red;
}

.tags-input .main-input {
  border: 0;
  outline: 0;
  padding: 0.5em 0.1em;
}