extends ../incontainer 

block content
  h1 Freelancer Fees and Charges
  h2 For Employers
  p JetFree is free to sign up, post a project, receive bids from freelancers, review the JetFree's 
    | portfolio and discuss the project requirements. If you choose to award the project, 
    | and the freelancer accepts, we charge you a small project fee relative to the value of the 
    | selected bid, as an introduction fee.
  p The cost and how this fee is charged depends on the type of project.
  p For fixed price projects, a fee of 3% or 100THB (whichever is greater) is levied at the time a project that has been awarded by you has been accepted by each freelancer you award. If you subsequently pay the freelancer more than the original bid amount we will also charge the project fee on any overage payments.
  p For hourly projects, a fee of 3% is levied on each payment that you make to the freelancer.
  p You may cancel the project from your dashboard at any time for up to seven (7) days after the project has been accepted for a full refund of your fee.
  h2 For Freelancers
  p JetFree is free to sign up, create a profile, select skills of projects you are interested in, 
    | upload a portfolio, receive project notifications, discuss project details with the employer, 
    | bid on projects (free members receive initially 8 bids per month) and enter contests. 
    | Optional bid upgrades may be purchased to promote a bid.
  p For fixed price projects, if you are awarded a project, and you accept, we charge you a small project fee relative to the value of the selected bid, as an introduction fee. If you are subsequently paid more than the original bid amount, we will also charge the project fee on any overage payments.
  p For hourly projects, the fee is levied on each payment as it is made by the employer to you.
  p The fee for fixed price projects is 10% or 150THB, whichever is greater, and 10% for hourly projects.