extends ../incontainer 

block content
    .row
        .col-10
            h1 งานปัจจุบัน

    hr
    ul.nav.nav-tabs.mb-2
        li.nav-item
            a.nav-link(href="../current/freelance") ฟรีแลนซ์
        li.nav-item
            a.nav-link.active(href="#") ลูกค้า 
        
    h2 
    each job in jobs
        .card.mb-3
            .card-body
                form(method='POST')
                    .row
                        .col-10
                            h4 #{job.job}
                            p #{job.job_info}
                        .col-2
                            button.btn.btn-outline-primary.btn-block(type='submit') งานเสร็จสิ้นแล้ว
                            p
                            a.btn.btn-outline-info.btn-block(href='#') รีวิว

    //nav(aria-label='Page navigation')
        ul.pagination.justify-content-center
            if amount>0
                if page<=1
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') «
                else
                    li.page-item
                        a.page-link(href=(page-1)) «
                while n<=limit
                    if n==page
                        li.page-item.active
                            a.page-link(href=n)=n++
                    else
                        li.page-item
                            a.page-link(href=n)=n++
                if page>=limit
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') »
                else
                    li.page-item
                        a.page-link(href=(page+1)) »