extends ../incontainer 

block additional-heads
  script(src='/scripts/jquery.mask.min.js')
  script(src='https://cdn.omise.co/omise.js.gz')

block content
  .row
    .col-12
      .d-flex
        .flex-grow-1
          h1 จ่ายเงินโฆษณา
          hr
  .row
    .col-6
      h2 รายละเอียดโฆษณา
      ul
        li
          span(style="font-weight: bold") วันเริ่มต้นโฆษณา 
          span=boost.formatted_date[0]
        li
          span(style="font-weight: bold") วันสิ้นสุดโฆษณา 
          span=boost.formatted_date[1]
    .col-6
      .card
        .card-header
          span ชำระเงินผ่านบัตร&nbsp;
          span.badge.badge-primary=boost.total_price+" บาท"
        .card-body
          form#card-form
            .form-row
              .form-group.col-md-12
                label เลขบัตรเครดิต
                input#cardnumber.form-control(name="cardnumber" autocomplete="cc-number")
            .form-row
              .form-group.col-md-12
                label ชื่อตามที่ปรากฏบนบัตร
                input#name.form-control(name="name" autocomplete="cc-name")
            .form-row
              .form-group.col-md-6
                label เลขวันหมดอายุ
                input#expire.form-control(name="expire" autocomplete="cc-exp")
              .form-group.col-md-6
                label
                  | รหัสความปลอดภัย 
                  a(href='#', data-toggle='modal', data-target='#exampleModal') (คืออะไร?)
                input#cvc.form-control(name="cvc" autocomplete="cc-csc")
            #error.alert.alert-warning.collapse ไม่สามารถชำระด้วยบัตรใบนี้ได้ กรุณาตรวจสอบเลขบัตรอีกครั้ง 
            button.btn.btn-lg.btn-primary(style="width: 100%")
              img#loader(src="/images/loader.svg" height="30px" hidden)
              |  ชำระเงิน - #{boost.total_price} บาท
            p
            div.text-center.text-secondary
              i.fas.fa-lock
              |  ชำระเงินด้วยระบบปลอดภัยจาก 
              a(href="https://www.omise.co/th/security-overview") Omise
      div(hidden)
        h2 Card ID Payment form
        form#pay-form(method="POST")
          input#card-id(name="token")

  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title รหัสความปลอดภัยคืออะไร?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          | CVC คือเลขยืนยันตนสำหรับบัตรเครดิตและเดบิต โดยเป็นเลขความยาวสามตัวที่อยู่บริเวณหลังบัตร
          img(src="/images/credit-card-cvc.svg" width="100%")

block js-after
  script(src="/scripts/bundle-payment.js")
  script.