extends ../incontainer 

block content
    .row
        .col-10
            h1 รีวิว #{other.name}
    hr
    .form-group
        level คะแนน
    .form-group
        label ความคิดเห็น
        textarea(class="form-control" rows="5" name="review" placeholder="")

block js-after
  script.
    var simplemde = new SimpleMDE({
      spellChecker: false,
      status: false,
      toolbar: ["bold", "italic", "|", "quote", "code", "|", "unordered-list", "ordered-list", "|", "link", "image", "|", "guide"]
     });