extends ../incontainer 

block content
  .row
    .col-12
      .d-flex
        .flex-grow-1
          span รายชื่อฟรีแลนซ์ที่แสดงความสนใจในงาน 
          h1 #{job.job}
  .row
    .col-12
      .card-columns
        each freelance in job.freelance_interests
          .card.text-center
            .card-body
              h5.card-title=freelance.name
              a.btn.btn-outline-primary.btn-sm(href="/profile/"+freelance.username) ดูหน้าโปรไฟล์
              p.card-text=freelance.overview